# Enable/Disable the vendor entirely
ResourceBroker.Enabled=true

# Vendor SELLS to players (premium/convenience)
# Set Price <= 0 or Stock <= 0 to disable an entry
ResourceBroker.Sell.IronIngot.Price=6
ResourceBroker.Sell.IronIngot.Stock=999

ResourceBroker.Sell.Board.Price=6
ResourceBroker.Sell.Board.Stock=999

ResourceBroker.Sell.Leather.Price=9
ResourceBroker.Sell.Leather.Stock=999

ResourceBroker.Sell.Cloth.Price=8
ResourceBroker.Sell.Cloth.Stock=999

ResourceBroker.Sell.Log.Price=8
ResourceBroker.Sell.Log.Stock=999


# Vendor BUYS from players (baseline income)
# Set Price <= 0 to disable buyback
ResourceBroker.Buy.IronIngot.Price=3
ResourceBroker.Buy.Board.Price=2
ResourceBroker.Buy.Leather.Price=3
ResourceBroker.Buy.Cloth.Price=2
ResourceBroker.Buy.Log.Price=2